body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}



a {
  text-decoration: none;
}

.navToggle{
  display: none;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #211d42;
  position: fixed;
  bottom: 0;
  color: white;
}

.footer h4{
  font-size: 18px;
}



.detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.8px solid black;
  border-radius: 10px;
  padding: 9px;
  font-weight: 700;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.design-section2{
  background-color: rgba(96, 89, 171, 0.833);
  padding-top: 20px;
  padding-bottom: 30px;
}
 
.design-section2 h2{
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 35px;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(96, 89, 171, 0);
  border: 0px solid rgba(0, 0, 0, 0);
}

.card img{
  width: 550px;
}

.card button{
  background-color: rgb(16, 7, 47);
  border-radius: 7px;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  color: white;
}

.card button:hover {
  cursor: pointer;
  background-color: rgba(40, 15, 87, 0.789)
}

.cartButton{
  font-size: 15px;
}

.cart{
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(223, 217, 250);
}

.cart h2{
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 35px;
  color: rgb(34, 12, 77);
}

.design-section3{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.design-section3 h3{
  font-size: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  grid-gap: 15px;
}

.form button{
  width: 70px;
  height: 30px;
  background-color: rgb(16, 7, 47);
  border-radius: 7px;
  color: white;
  margin-top: 20px;
}

.form button:hover{
  cursor: pointer;
  background-color: rgba(40, 15, 87, 0.789)
}

.design-section3 h4{
  color: rgb(32, 32, 140)
}

.recom{
  padding-top: 100px;
  padding-bottom: 100px;
}

.divcarousel{
  width: 60vw;
  margin-left: 20vw;
  padding-top: 30px;
}

.carousel-img{
  height: 430px;
}

.carousel-img img{
  width: 100%;
  height: 100%;
  object-position: 50% 70%;
  object-fit: cover;
}

@media (max-width: 413px){ 
  .navLinks{
    background-color: rgb(33, 29, 66);
    display: flex;
    flex-direction: column;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s ease all;
    height: 170px;
    width: 100%;
  }

  .navLinks h3{
    font-size: 15px;
  }

  .navLinks.open{
    transform: translateX(0);
  }

  .navbar{
    justify-content: end;
    width: 100vw;
    height: 40px;
  }

  .navToggle{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    position: absolute;
  }

  .navToggle img{
    width: 40px;
    height: 30px;
  }

  .products{
    width: 100vw;
    padding-top: 40px;
  }

  .title{
    flex-direction: column;
    align-items: center;
  }

  .title img{
    width: 200px;
  }

  h1 {
    width: 90%;
    font-size: 30px;
  }

  .design-section1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .design-section1 h2{
    font-size: 20px;
  }

  .sub-section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .detail{
    width: 200px;
    height: 170px;
    padding: 8px;
    font-weight: 600;
  }

  .design-section2 h2{
    font-size: 20px;
  }

  .card img{
    width: 350px;
  }

  .card button{
    width: 90px;
    height: 25px;
  }

  .cartButton{
    font-size: 8px;
  }

  .design-section3 h3{
    font-size: 23px;
  }

  .footer h4{
    font-size: 14px;
  }
}